.attractions-page{
  min-height: em(3000);
}

.attractions-list{
  padding: em(155) 0 0;
  .row{
    position: relative;
    padding: 0 0 em(180);
    &:nth-child(odd){
      .attraction-txt-col{
        align-self: center;
        order: 13;
        margin-right: 8.33333%;
      }
      .attraction-leaf-bottom{
        position: absolute;
        bottom: 10%;
        left: 0;
        z-index: -1;
        pointer-events: none;
        .attr-right-leaf{
          display: none;
        }
      }
      .attraction-img-box{
        right: em(13);
      }
    }
    &:nth-child(even){
      .attraction-txt-col{
        align-self: center;
      }
      .attraction-img-col{
        margin-right: 8.33333%;
      }
      .attraction-leaf-bottom{
        position: absolute;
        bottom: 10%;
        right: 0;
        z-index: -1;
        pointer-events: none;
        .attr-left-leaf{
          display: none;
        }
      }
    }
    &:last-child{
      padding:0 0 em(30) 0;
    }
  }
  /*.attraction-leaf-right{
    position: absolute;
    bottom: 10%;
    right: 0;
    z-index: -1;
    pointer-events: none;
  }
  .attraction-leaf-left{
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: -1;
    pointer-events: none;
  }*/
}

.attraction-img-box{
  width: 100%;
  height: em(728);
  position: relative;
  //margin: 0 0 em(180);
  .attraction-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: em(722);
    height: em(722);
    //border: 1px dashed $white;
    @include border-radius(50%);
    background: url("/assets/svgs/wisdom-slider-arc.svg") no-repeat center center / cover;
    -webkit-animation: rotating 55s linear infinite;
    -moz-animation: rotating 55s linear infinite;
    -ms-animation: rotating 55s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 55s linear infinite;
  }
  .attraction-shape{
    position: absolute;
    content: '';
    left: em(18);
    top: em(18);
    max-width: 100%;
    width: em(745);
    height: em(666);
    background: url("/assets/svgs/behind-mask-img.svg") no-repeat center center / 100% auto;
    z-index: 1;
  }
  .attraction-img{
    position: absolute;
    z-index: 1;
    -webkit-mask-image: url(/assets/svgs/img-mask.svg);
    mask-image: url(/assets/svgs/img-mask.svg);
    mask-mode: luminance;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    overflow: hidden;
    width: 100%;
    img{
      position: relative;
    }
    /*&:before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: $white;
      left: 0;
      top: 0;
      z-index: 1;
      -webkit-mask-image: url(/assets/svgs/map-img-bg.svg);
      mask-image: url(/assets/svgs/map-img-bg.svg);
      mask-mode: luminance;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
    }*/
    &:before{
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #24888d;
      z-index: 1;
      //background: ;
    }
  }
  &.color-1{
    .attraction-shape{
      background-image: url("/assets/svgs/attraction-color-1.svg");
    }
    .attraction-img{
      &:before{
        background: #24888d;
      }
    }
  }
  &.color-2{
    .attraction-shape{
      background-image: url("/assets/svgs/attraction-color-2.svg");
    }
    .attraction-img{
      &:before{
        background: #f37976;
      }
    }
  }
  &.color-3{
    .attraction-shape{
      background-image: url("/assets/svgs/attraction-color-3.svg");
    }
    .attraction-img{
      &:before{
        background: #d15433;
      }
    }
  }
  &.color-4{
    .attraction-shape{
      background-image: url("/assets/svgs/attraction-color-4.svg");
    }
    .attraction-img{
      &:before{
        background: #b3ca36;
      }
    }
  }
  &.color-5{
    .attraction-shape{
      background-image: url("/assets/svgs/attraction-color-5.svg");
    }
    .attraction-img{
      &:before{
        background: #591a52;
      }
    }
  }
  &.color-6{
    .attraction-shape{
      background-image: url("/assets/svgs/attraction-color-6.svg");
    }
    .attraction-img{
      &:before{
        background: #5b63b0;
      }
    }
  }
  &.color-7{
    .attraction-shape{
      background-image: url("/assets/svgs/attraction-color-7.svg");
    }
    .attraction-img{
      &:before{
        background: #445628;
      }
    }
  }
  &.color-8{
    .attraction-shape{
      background-image: url("/assets/svgs/attraction-color-8.svg");
    }
    .attraction-img{
      &:before{
        background: #794400;
      }
    }
  }
  &.animated{
    .attraction-img{
      &:before{
        -webkit-mask: url('/assets/images/urban-sprite.png');
        mask: url('/assets/images/urban-sprite.png');
        -webkit-mask-size: 3000% 100%;
        mask-size: 3000% 100%;
        -webkit-animation: mask-play-Two 1.4s steps(29) forwards;
        animation: mask-play-Two 1.4s steps(29) forwards;
        animation-delay: 1s;
      }
    }
  }
}

.attraction-txt-bx{
  //margin: em(150) 0 em(100);
  .attraction-icons{
    width: em(93);
    height: em(93);
    display: inline-block;
    margin: 0 0 em(20);
  }
  .btn{
    margin: em(20) 0 0;
  }
}

.things-img-box{
  position: relative;
  .things-to-do-img{
    position: relative;
    z-index: 1;
    -webkit-mask-image: url(/assets/svgs/things-to-do-mask.svg);
    mask-image: url(/assets/svgs/things-to-do-mask.svg);
    mask-mode: luminance;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    overflow: hidden;
    width: 100%;
    img{
      position: relative;
      width: 100%;
    }
    /*&:before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: $white;
      left: 0;
      top: 0;
      z-index: 1;
      -webkit-mask-image: url(/assets/svgs/map-img-bg.svg);
      mask-image: url(/assets/svgs/map-img-bg.svg);
      mask-mode: luminance;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
    }*/
    &:before{
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #46901a;
      z-index: 1;
      //background: ;
    }
  }
  &.animated{
    .things-to-do-img{
      &:before{
        -webkit-mask: url('/assets/images/urban-sprite.png');
        mask: url('/assets/images/urban-sprite.png');
        -webkit-mask-size: 3000% 100%;
        mask-size: 3000% 100%;
        -webkit-animation: mask-play-Two 1.4s steps(29) forwards;
        animation: mask-play-Two 1.4s steps(29) forwards;
        animation-delay: 1s;
      }
    }
  }
}




.ie{
  .attraction-img-box{
    height: em(689);
    .attraction-circle{
      display: none;
    }
    .attraction-shape{
      display: none;
    }
    .attraction-img{
      padding: em(10);
      &:before{
        display: none;
      }
    }
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      bottom: auto;
      background: url("/assets/svgs/attraction-frame-1.svg") no-repeat top left / 100% auto;
      z-index: 2;
    }
    &.color-2{
      &:before{
        background-image: url("/assets/svgs/attraction-frame-2.svg");
      }
    }
    &.color-3{
      &:before{
        background-image: url("/assets/svgs/attraction-frame-3.svg");
      }
    }
    &.color-4{
      &:before{
        background-image: url("/assets/svgs/attraction-frame-4.svg");
      }
    }
    &.color-5{
      &:before{
        background-image: url("/assets/svgs/attraction-frame-5.svg");
      }
    }
    &.color-6{
      &:before{
        background-image: url("/assets/svgs/attraction-frame-6.svg");
      }
    }
    &.color-7{
      &:before{
        background-image: url("/assets/svgs/attraction-frame-7.svg");
      }
    }
    &.color-8{
      &:before{
        background-image: url("/assets/svgs/attraction-frame-8.svg");
      }
    }
  }

  .things-img-box{
    padding: em(2);
    &:before{
      position: absolute;
      content: '';
      width: auto;
      height: auto;
      top: em(-20);
      bottom: em(-20);
      left: em(-20);
      right: em(-20);
      z-index: 2;
      background: url("/assets/svgs/things-to-do-img-frame.svg") no-repeat center center / 100% auto;
    }
    .things-to-do-img{
      &:before{
        display: none;
      }
    }
  }
}

/*.mac{
  .attraction-img-box{

    .attraction-circle{
      width: em(660);
      height: em(660);
    }
    .attraction-shape{
      top: em(0);
    }
  }
}*/


// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1699.98px) { }

// Laptops large devices (desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {}

// Laptops small devices (desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .attraction-img-box{

    .attraction-circle{
      width: em(800);
      height: em(800);
    }
    .attraction-shape{
      top: em(0);
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .attraction-img-box{
    height: em(650);
    margin: em(20) 0 0;
    .attraction-circle{
      width: em(615);
      height: em(615);
    }
    .attraction-shape{
      width: em(700);
      height: em(600);
      top: em(0);
    }
    .attraction-img{
      &:before{
        display: none;
      }
    }
  }
  .attractions-list{
    .attraction-leaf-bottom{
      width: em(100);
    }
  }

  .attractions-list {
    .row{
      &:last-child{
        padding-bottom:em(40);
      }
    }
  }

  .things-img-box{
    .things-to-do-img{
      &:before{
        display: none;
      }
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .attraction-img-box{
    height: em(500);
    margin: em(20) 0 0;
    .attraction-circle{
      width: em(475);
      height: em(475);
    }
    .attraction-shape{
      width: em(500);
      height: em(470);
      top: em(0);
    }
    .attraction-img{
      &:before{
        display: none;
      }
    }
  }
  .attractions-list{
    .row{
      &:nth-child(odd){
        .attraction-txt-col{
          margin-right: 0;
        }
      }
      &:nth-child(even){
        .attraction-img-col{
          margin-right: 0;
        }
      }
    }
    .attraction-leaf-bottom{
      width: em(100);
    }
  }

  .attractions-list {
    .row{
      &:last-child{
        padding-bottom:em(40);
      }
    }
  }

  .things-img-box{
    .things-to-do-img{
      &:before{
        display: none;
      }
    }
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .attractions-list {
    padding: em(55) 0 0;
    .row{
      padding: 0 0 em(80) 0;
      &:last-child{
        padding-bottom:em(40);
      }
    }
  }
  .attraction-img-box{
    height: em(480);
    margin: em(60) 0 0;
    .attraction-circle{
      width: em(510);
      height: em(510);
    }
    .attraction-shape{
      width: 100%;
      right: 0;
      height: em(445);
      top: em(0);
    }
    .attraction-img{
      width: 98%;
      &:before{
        display: none;
      }
    }
  }
  .attractions-list{
    .row{
      &:nth-child(odd){
        .attraction-txt-col{
          margin-right: 0;
          order: 0;
        }
      }
      &:nth-child(even){
        .attraction-img-col{
          margin-right: 0;
        }
      }
    }
    .attraction-leaf-bottom{
      display: none;
    }
  }

  .things-img-box{
    margin: em(40) 0 0;
    .things-to-do-img{
      &:before{
        display: none;
      }
    }
  }

}

